body {
  font: 1.2em Helvetica, Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #eee;
}

.wrapper {
  /* max-width: 1200px; */
  width: 90%;
  margin: 2em auto;
  /* overflow: hidden; */
  background-color: aqua;
}

.col1 {
  width: 25%;
  float: left;
  background-color: #8e9e9f;
  padding: 1em;
  box-sizing: border-box;
}

.col2 {
  width: 70%;
  float: right;
  background-color: #e4e4f0;
  padding: 1em;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .col1,
  .col2 {
    width: 100%;
    background-color: bisque;
    
  }
}
