h1 {
    background-color: green;
    color: white;
    }
    

    body {
        background-color:#eeeeee;
        color: #111100;
        font-family: Arial, Tahoma, Verdana;
        font-size: 10px;
        }
        